.git
.gitignore
.gitattributes
*.ts
!*.d.ts
src/**
tsconfig.json
tslint.json
webpack.config.js
**/.eslintrc.json
**/*.map
**/*.log
node_modules/**
.vscode-test/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageclient/lib/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-jsonrpc/lib/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-protocol/lib/**
!node_modules/vscode-languageserver-types/**
!node_modules/vscode-languageserver-types/lib/**
!node_modules/semver/**
!node_modules/semver/lib/**
